
    <table style="border: 1px solid green;" >
        <tr>
            <td align='center' style="padding:0px 5px 5px 5px; border-bottom:1pt solid black;">
                <strong>header</strong>
                <br>
                <font size="2">Some more words</font>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' style="border-collapse:collapse;">
        <tr><td>&bull; type</td><td style="padding:0px 0px 0px 15px;">name</td></tr><tr><td>&bull; type</td><td style="padding:0px 0px 0px 15px;">name</td></tr><tr><td>&bull; type</td><td style="padding:0px 0px 0px 15px;">name</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>

    <table style="border: 1px solid green;" >
        <tr>
            <td align='center' style="padding:0px 5px 5px 5px; border-bottom:1pt solid black;">
                <strong>Courses</strong>
                <br>
                <font size="2">Course identity</font>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' style="border-collapse:collapse;">
        <tr><td>&bull; id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; name</td><td style="padding:0px 0px 0px 15px;">string</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>

    <table style="border: 1px solid green;" >
        <tr>
            <td align='center' style="padding:0px 5px 5px 5px; border-bottom:1pt solid black;">
                <strong>Topics</strong>
                <br>
                <font size="2">Topic identity</font>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' style="border-collapse:collapse;">
        <tr><td>&bull; id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; name</td><td style="padding:0px 0px 0px 15px;">string</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>

    <table style="border: 1px solid green;" >
        <tr>
            <td align='center' style="padding:0px 5px 5px 5px; border-bottom:1pt solid black;">
                <strong>Problems</strong>
                <br>
                <font size="2">Problem identity</font>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' style="border-collapse:collapse;">
        <tr><td>&bull; id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; name</td><td style="padding:0px 0px 0px 15px;">string</td></tr><tr><td>&bull; url</td><td style="padding:0px 0px 0px 15px;">string</td></tr><tr><td>&bull; answer</td><td style="padding:0px 0px 0px 15px;">int</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>

    <table style="border: 1px solid green;" >
        <tr>
            <td align='center' style="padding:0px 5px 5px 5px; border-bottom:1pt solid black;">
                <strong>Users</strong>
                <br>
                <font size="2">User and role identity</font>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' style="border-collapse:collapse;">
        <tr><td>&bull; id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; name</td><td style="padding:0px 0px 0px 15px;">string</td></tr><tr><td>&bull; staff</td><td style="padding:0px 0px 0px 15px;">boolean</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>

    <table style="border: 1px solid green;" >
        <tr>
            <td align='center' style="padding:0px 5px 5px 5px; border-bottom:1pt solid black;">
                <strong>Responses</strong>
                <br>
                <font size="2">Transaction Registry</font>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' style="border-collapse:collapse;">
        <tr><td>&bull; id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; user_id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; problem_id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; answer</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; start-time</td><td style="padding:0px 0px 0px 15px;">datetime</td></tr><tr><td>&bull; end-time</td><td style="padding:0px 0px 0px 15px;">datetime</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>

    <table style="border: 1px solid green;" >
        <tr>
            <td align='center' style="padding:0px 5px 5px 5px; border-bottom:1pt solid black;">
                <strong>Answer Choices</strong>
                <br>
                <font size="2">Choices per problem</font>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' style="border-collapse:collapse;">
        <tr><td>&bull; id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; problem_id</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; choice</td><td style="padding:0px 0px 0px 15px;">int</td></tr><tr><td>&bull; count</td><td style="padding:0px 0px 0px 15px;">int</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
